[Unit]
Description=Twitch Bot Authorization
Wants=network-online.target
Requires=network-online.target

[Service]
User=1000
WorkingDirectory=/opt/twitch-bot-auth
ExecStart=python -m jerigged tba.py
Type=exec

[Install]
WantedBy=multi-user.target
